{% extends 'base.html' %}

{% block main_block %}

<div class="container mx-auto mt-10">
  <div class="flex flex-col shadow-md my-10">
    <div class="w-full bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-2xl">{{basket_item_count}} Items</h2>
      </div>
      {% for bi in basket_items %}
      <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
        <div class="flex w-2/5">
          <div class="w-20">
            {% if bi.product_object.picture %}
            <img class="h-24" src="{{bi.product_object.picture.url}}" alt="{{bi.product_object.title}}">
            {% else %}
            <img class="h-24" src="https://i.ibb.co/6gzWwSq/Rectangle-20-1.png" alt="{{bi.product_object.title}}">
            {% endif %}
          </div>
          <div class="flex flex-col justify-between ml-4 flex-grow">
            <span class="font-bold text-sm">{{bi.product_object.title}}</span>
            <span class="text-red-500 text-xs">{{bi.product_object.brand_object}}</span>
            <a href="{% url 'item-remove' bi.id %}" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
          </div>
        </div>


        <form method="POST" action="{% url 'update-quantity' bi.id %}" class="update-form">
          {% csrf_token %}
          <input type="number" name="quantity" value="{{bi.quantity}}" min="1" max="5"
              class="border rounded px-3 py-1 text-center w-20" onchange="this.form.submit()">
      </form>


        <span class="text-center w-1/5 font-semibold text-sm">Rs {{bi.product_object.price}}</span>
        <span class="text-center w-1/5 font-semibold text-sm">Rs {{bi.item_total}}</span>
      </div>
      {% endfor %}
      <a href="{% url 'product-list' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>
    <div id="summary" class="w-full bg-gray-100 px-8 py-10 mx-auto">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase">Total Items</span>
        <span class="border p-3">{{basket_item_count}}</span>
      </div>
     
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Subtotal</span>
          <span>Rs {{basket_total}}</span>
        </div>
        
        <div class="flex justify-center">
          <a href="{% url 'placeorder' %}" class="bg-indigo-500 rounded p-3 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-1/4 text-center">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}